body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.catlog-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}
.form-control{
  color:#0E6DD7;
}